.mgr-area {
    .sort-area {
        cursor: pointer;
        padding-left: 15px;
    }
}
.btn-create {
    background: linear-gradient(41.51deg, #0D2745 -0.1%,  #113d74 101.9%)!important;
    &:hover{
    background-color: #5b6168;
    box-shadow: 0px 0px 10px  #0D2745;
    transition:0.3s;
    }
}
.col-action{
    .waves-themed {
        background-color: #0D2745!important;
        border: none;
        &:hover {
            box-shadow: 0px 0px 10px #0D2745;
        }
    }
  
}