html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
label {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
.body {
	background: white;
	font-family: "Nunito Sans" !important;
    position: relative;
}
.ant-table-header {
    border-top: 4px solid rgba(224, 224, 224, 1);
    border-radius: 20px 0px 0px 0px;
}
.ant-table-fixed-header {
    border-radius: 20px 0px 10px 10px !important;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
}
.ant-table-thead > tr > th {
    background-color: #e0e0e0!important;
}
.ant-table-cell {
    position: absolute;
    padding: 5px !important;

}
.ant-table-thead > tr > th{
    padding: 0 !important;
}
.custome-header .addition-box {
    position: relative;
    background-color: white;
    height: 45px;
    width: 100%;
}
.custome-header .addition-box input {
    position: absolute;
    width: 95%;
    margin-top: 6px;
    border-radius: 30px;
    padding: 4px 11px 4px 26px;
    border: 2px solid #e0e0e0;
}
.custome-header .addition-box img {
    position: absolute;
    top: 14px;
    left: 5px;
    z-index: 2;
}
.custome-header .title-box {
    padding: 7px 0 7px 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}
.ant-table-cell-scrollbar{
    display: none;
}
.ant-table-body{
    border-radius: 0 0 20px 20px;
}
.ant-table-body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.ant-table-body::-webkit-scrollbar-track {
    border-bottom-right-radius: 20px;
  }
.ant-table-body::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 25px;
  }
.pr-3{
    padding-right: 15px;
}
.pl-3{
    padding-left: 15px;
}
.mt-3{
    margin-top: 15px;
}
@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Nunito Sans Regular"), local("NunitoSans-Regular"),
        url(../fonts/nunitosans/NunitoSans-Regular.ttf) format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"),
        url(../fonts/nunitosans/NunitoSans-SemiBold.ttf) format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Nunito Sans Bold"), local("NunitoSans-Bold"),
        url(../fonts/nunitosans/NunitoSans-Bold.ttf) format("woff2");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Nunito Sans Black"), local("NunitoSans-Black"),
        url(../fonts/nunitosans/NunitoSans-Black.ttf) format("woff2");
}
