.mgr-medical-declaration {
    .page-child {
        margin-bottom: 1.5em;
    }
    .page-childScreen {
        @media (max-width: 1280px) {
            -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
    .page-BCH {
        height: calc(100% - 80px) !important;
        @media (max-width: 1280px) {
            height: calc(100% - 158px) !important;
        }
        @media (max-width: 767px) {
            height: auto !important;
            padding-bottom: 30px;
        }
    }
    .title-khai-bao {
        background: #ffffff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        width: 100%;
        height: 100%;
        .panel {
            margin-bottom: 0 !important;
        }
        > p {
            font-size: 16px;
            line-height: 21px;
            color: #ffffff;
            background: #0d2745;
            border-radius: 10px 10px 0px 0px;
            padding: 15px 14px;
            margin: 0;
            text-transform: uppercase;
            font-weight: bold;
            @media (max-width: 1414px) {
                font-size: 14px;
            }
            img {
                padding-right: 12px;
            }
        }
        > div,
        > form {
            padding: 1em 1em 0;
        }
    }
    .medical-declaration {
        margin: 0 0.75rem;
        width: 100%;
        button {
            background: #f4b11b;
        }
    }
    .page-res-767 {
        @media (max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
            .mgr-search {
                margin-top: 1.5em;
            }
        }
    }
    .change-location-767-right {
        @media (max-width: 767px) {
            display: none;
        }
    }
    .change-location-767-left {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }
    }
}
.modal-data {
    width: 900px !important;
    max-width: initial;
}
.modal-detail{
    width: 62vw !important;
    position: absolute;
    right: 11vw;
}
.modal-top{
    position: fixed;
    top:0;
    left: 0;
    height: 50px;
    background: white;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
}
.modal-top > button{
    border: none;
    background: white;
}
.modal-top >span{
    font-family: Muli !important;
    font-size: 16px;
    line-height: 10px;
    color: #193D6B;
    font-weight: 600;
}
@media (max-width:1100px){
    .modal-detail{
        width: 92vw !important;
        right: 3vw !important;
    }
}
@media print {
    body {
        margin: 0;
    }
}
