.mgr-post-create {
    .home-post {
        color: #000;
        .create {
            background-color: #fff;
            box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
            margin-bottom: 1.5rem;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-bottom: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 20px;
            .header-post {
                font-size: 18px;
                font-weight: bold;
                .change-input {
                    .input-item {
                        padding-bottom: 10px;
                        .ant-input {
                            font-size: 16px;
                            height: 40px;
                            font-weight: bold;
                        }
                        .ant-input::placeholder {
                            font-weight: 500;
                        }
                        .button-post {
                            background: linear-gradient(90deg, #1b75bb 0%, #26a9e0 100%), rgba(0, 0, 0, 0.05);
                            border: none;
                            outline: none;
                            color: #fff;
                            font-weight: bold;
                            padding: 8px 10px;
                            font-size: 14px;
                            min-width: 120px;
                            border-radius: 4px;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.1px;
                            color: #ffffff;
                            height: auto;
                            i {
                                padding-right: 7px;
                                font-size: 15px;
                            }
                        }
                    }
                    .image-add:focus {
                        border-color: #40a9ff;
                        border-right-width: 1px !important;
                        outline: 0;
                        -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
                        box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
                    }
                }
                .select-post {
                    width: 100%;
                    .ant-select-selection {
                        font-size: 16px;
                        height: 40px;
                    }
                    .ant-select-selection__rendered {
                        line-height: 38px;
                        .ant-select-selection__placeholder {
                            font-weight: 400;
                        }
                    }
                }
                .header-view {
                    .title-view {
                        font-size: 17px;
                        padding-left: 15px;
                        .detail {
                            padding-bottom: 8px;
                        }
                    }
                    .title-defaut {
                        font-size: 25px;
                    }
                }
            }
            .body-post {
                .button-create {
                    text-align: left;
                    .button-post {
                        background: linear-gradient(90deg, #1b75bb 0%, #26a9e0 100%), rgba(0, 0, 0, 0.05);
                        border: none;
                        outline: none;
                        color: #fff;
                        font-weight: bold;
                        padding: 8px 10px;
                        font-size: 14px;
                        min-width: 120px;
                        border-radius: 4px;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.1px;
                        color: #ffffff;
                        height: auto;
                        margin: 0 5px;
                        i {
                            padding-right: 7px;
                            font-size: 15px;
                        }
                    }
                }
                .button-save {
                    text-align: right;
                }
                .list-button {
                    background: linear-gradient(90deg, #1b75bb 0%, #26a9e0 100%), rgba(0, 0, 0, 0.05);
                    padding: 6px 10px;
                    display: flex;
                    align-items: center;
                    button {
                        margin: 3px;
                        padding: 0px 30px;
                    }
                    i.fal.fa-plus {
                        color: #fff;
                        font-size: 22px;
                        padding: 3px 10px;
                    }
                }
                .body-index,
                .detail-edit {
                    display: flex;
                    .stt {
                        padding-right: 10px;
                    }
                    .post {
                        width: 100%;
                        padding-bottom: 20px;
                        .switch {
                            text-align: right;
                        }
                        .droplist-create {
                            padding-bottom: 20px;
                            .input-droplist {
                                margin-bottom: 15px;
                            }
                            .droplist {
                                display: flex;
                                font-size: 16px;
                                font-weight: bold;
                                line-height: 30px;
                                .fal.fa-plus {
                                    color: #1b75bb;
                                    font-size: 28px;
                                    font-weight: bold;
                                }
                                .add {
                                    display: flex;
                                    div {
                                        padding-left: 10px;
                                    }
                                }
                                .more {
                                    padding-left: 40px;
                                }
                            }
                            .more-option {
                                line-height: 32px;
                                .more-radio {
                                    padding-left: 25px;
                                }
                            }
                            // .full-option {
                            //     display: flex;
                            //     align-items: center;
                            //     margin-bottom: 15px;
                            //     .ant-input {
                            //         width: 100%;
                            //         margin-bottom: 0px;
                            //     }
                            // }
                            .row-create {
                                font-weight: bold;
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
                .view-check {
                    display: flex;
                    .post-detail-view {
                        display: flex;
                        width: calc(100% - 50px);
                        .stt {
                            padding-right: 10px;
                        }
                        .detail-post {
                            width: 100%;
                            .title {
                                font-weight: bold;
                                padding-bottom: 10px;
                                line-height: 25px;
                            }
                            .placeholder-view {
                                cursor: context-menu !important;
                                width: 100%;
                                .ant-input-disabled {
                                    cursor: context-menu !important;
                                }
                            }
                            .ant-select {
                                width: 100%;
                            }
                            table {
                                width: 100%;
                                td {
                                    padding-bottom: 10px;
                                    min-width: 100px;
                                }
                            }
                        }
                    }
                    .button-delete {
                        margin-top: 7px;
                        margin-left: 15px;
                        .fal.fa-trash-alt {
                            font-size: 18px;
                            color: #1b75bb;
                        }
                    }
                }
            }
            .hover-index {
                padding: 30px 20px;
            }
            .hover-index:hover {
                background-color: #d7d0d08c;
                width: 100%;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}
.ant-form-item-required::before {
    display: none;
}
.footer-button {
    text-align: right;
    .button-close {
        background: linear-gradient(41.51deg, #0D2745 -0.1%,  #113d74 101.9%)!important;
        color: #fff;
        font-weight: bold;
        padding: 8px 50px;
        height: auto;
        &:hover{
            background-color: #5b6168;
            box-shadow: 0px 0px 10px  #0D2745;
            transition:0.3s;
            }
    }
}
.language-detail {
    // background: #fff;
    // border-radius: 10px;
    // padding: 8px 15px 20px;
    // background-color: #F1FFFE;
    // box-shadow: 0 0 13px 0 rgba(62, 44, 90, 0.08);
    // border: 1px solid rgba(0, 0, 0, 0.09);
    .ant-form-item-control {
        .language-item {
            padding-bottom: 10px;
        }
    }
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .button-sign {
        padding: 1px 7px;
        height: 26px;
        span {
            font-size: 20px;
            line-height: 20px;
            color: #007bff;
            font-weight: 900;
        }
    }
    .item {
        padding: 8px 14px;
        line-height: 11px;
        margin-bottom: 2px;
        background: rgb(21,62,108);
        background: linear-gradient(90deg, rgba(21,62,108,1) 0%, rgba(35,94,163,1) 100%);
        color: #fff;
        font-weight: bold;
        border-radius: 4px;
        font-size: 11px;
    }
}
.detail-view {
    flex-direction: row;
}
.ant-table-placeholder {
    .ant-empty-description {
        display: none;
    }
    .ant-empty-image {
        &:after {
            content: "Không tìm thấy kết quả thoả mãn";
            display: block;
        }
    }
}
.col-action{
    .waves-themed {
        background-color: #0D2745!important;
        border: none;
        &:hover {
            box-shadow: 0px 0px 10px #0D2745;
        }
    }
  
}
.btn-create{
    background: linear-gradient(41.51deg, #0D2745 -0.1%,  #113d74 101.9%)!important;
    &:hover{
    background-color: #5b6168;
    box-shadow: 0px 0px 10px  #0D2745;
    transition:0.3s;
    }
}
