$color-background: rgba(13, 39, 69, 1);
.page-sidebar {
  // width: 17.2rem;
  // max-width: 17.2rem;
  display: flex;
  z-index: 1;
  .primary-nav {
    // overflow: hidden !important;
    // padding-right: 4px;
    flex: 1;
    background-color: $color-background;
  }
  .page-logo {
    height: 7.125rem;
    width: 100%;
    background-color: $color-background;
  }
  .divider {
    border: 1px solid #fed603;
    height: 0px;
    width: 100%;
    background: rgb(254, 136, 3);
    background: linear-gradient(90deg, rgba(254, 136, 3, 1) 0%, rgba(254, 214, 3, 1) 100%);
  }
  .primary-nav:hover {
    overflow: auto !important;
    // padding-right: 0px;
    // padding-right: 1px;
  }
  .primary-nav::-webkit-scrollbar-thumb {
    background: #ffffff !important;
    opacity: 0.4 !important;
    border-radius: 10px;
  }
  .primary-nav::-webkit-scrollbar {
    background: transparent !important;
  }
  .primary-nav::-webkit-scrollbar-track-piece {
    background: transparent !important;
  }
  .nav-menu {
    li > ul {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    ul {
      display: block !important;
    }
  }
  .nav-footer {
    background-color: rgb(11, 33, 59);
  }
  .waves-colors {
    padding-left: 18px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 1rem !important;
    color: #ffffff;
    &:hover {
      color: $color-background;
      transition-delay: 0s;
      background: linear-gradient(41.51deg, #fe8803 -0.1%, #fed603 101.9%);
    }
  }
  .menu-active {
    color: $color-background !important;
    transition-delay: 0s;
    background: linear-gradient(41.51deg, #fe8803 -0.1%, #fed603 101.9%);
    i {
      color: $color-background !important;
    }
  }
  .nav-menu li a > [class*="fa-"] {
    margin-right: 15px;
    font-size: 1.3rem;
    color: #ffffff;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover {
      color: $color-background;
    }
  }
}
